@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="RemoveAll">Remove All</a>
</p>
<p>
    <a asp-action="ImportData">Import Data</a>
</p>