
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<canvas id="ParliamentCanvas" width="1000" height="600" style="border:1px solid #000000;"></canvas>

@section Scripts {
    <script src="~/js/Experiments.js"></script>
}